

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/style.css" />
    <link rel="stylesheet" href="tomtom/map.css" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">


    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">


</head>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">CEM Streaming</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/stream">Streaming <span class="sr-only">(current)</span></a>
      </li>
      <% if (sessionInfo.isAdmin) {%>
        <li class="nav-item active">
          <a class="nav-link" href="/user_list">User list <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/dashboard">Connections map <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/manage_streams">Stream setup <span class="sr-only">(current)</span></a>
        </li>
      <% } %>

      <!-- <li class="nav-item">
        <a class="nav-link" href="/login">Login</a>
      </li>
       -->
      <li class="nav-item logout-button">
        <% if (sessionInfo.loggedIn) { %>
          <div>
            Logged in as <b><%= sessionInfo.username %></b>
            <a class="nav-link" href="/logout">Logout</a>
          </div>
       <% } else {%>
      <!--     <div>
            You're not logged in
            <a class="nav-link" href="/login">Login</a>
          </div>
      -->
        <% } %> 
      </li>
    </ul>
  </div>
</nav>

<div class="container-fluid">
  <div class="row justify-content-md-center">