<% include partials/head %>


<div class="col-md-6 signup">
	<h2>Register</h2>
	<form action="/user_list/add" method="POST"> 
		<div class="form-group">
			<label for="exampleInputPassword1">Enter your username:</label>
			<input type="text" name="username" class="form-control" id="exampleInputPassword1" placeholder="Enter your username">
		</div>
		<div class="form-group">
			<label for="exampleInputPassword1">Enter your password:</label>
			<input type="password" name="password" class="form-control" id="exampleInputPassword2" placeholder="Enter the password">
		</div>
		<div class="form-group">
			<label for="exampleInputPassword1">Enter your password:</label>
			<input type="password" name="passwordConf" class="form-control" id="exampleInputPassword2" placeholder="Confirm the password">
		</div>

		<button type="submit" class="btn btn-primary">Sign Up</button>
	</form>

	<div class="alert alert-danger alert-dismissible fade" role="alert">
		<strong>Error</strong> Login or password incorrect
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
	</div>
</div>

<% include partials/footer %>
