<% include partials/head %>
<!-- <div class="container-fluid"> -->
<!-- <div class="dashboard"> -->
	<div class="col-md-8">
	    <div id='map'></div>
	</div>
	<div class="col-md-4 users">
	<h4>People connected to the stream</h4>
	<div class="cards" data-bind="foreach: viewers">
		<div class="card">
		  <div class="card-body">
		    <h5 class="card-title">Username: <b data-bind="text: username"></b></h5>
		    <h6 class="card-subtitle mb-2 text-muted">IP: <b data-bind="text: ip"></b></h6>
		    <p class="card-text">User-Agent: <b data-bind='text: user_agent'></b></p>
		    <a href="#" class="card-link disabled">Ban</a>
		    <a href="#" class="card-link disabled">Disconnect</a>
		  </div>
		</div>

	</div>
<!-- </div> -->
<!-- <button data-bind="click: addPerson">Add</button> -->
 
<script type="text/javascript">

</script>

</div>
<!-- </div> -->

<% include partials/footer %>
