<% include partials/head %>

<div class="col-md-6 login">
	<h2>Login</h2>
	<form action="/login" method="POST"> 
		<div class="form-group">
			<label for="exampleInputPassword1">Enter your username:</label>
			<input type="text" name="logemail" class="form-control" id="exampleInputPassword1" placeholder="Enter your username">
		</div>
		<div class="form-group">
			<label for="exampleInputPassword1">Enter your password:</label>
			<input type="password" name="logpassword" class="form-control" id="exampleInputPassword2" placeholder="Enter the password">
		</div>

		<button type="submit" class="btn btn-primary">Login</button>
	</form>

	<div class="alert alert-danger alert-dismissible fade" role="alert">
		<strong>Error</strong> Login or password incorrect
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
	</div>
</div>



<% include partials/footer %>
