<% include partials/head %>
<div class="col-md-9 manage_streams">
	<h1>Streaming process ID (PID): <%= pid || 'none' %></h1>
<div class="form-group">
	<div class="input-group mb-3">
		<textarea type="text" id="hq-stream" class="form-control" value="" disabled placeholder="HQ stream"><%=stream_config.hq_stream%></textarea>

		<span class="input-group-btn">
			<% if (pid == undefined) { %>
				<a href="/manage_streams/start"><button class="btn btn-primary" type="submit">Start stream</button></a>
			<% } else { %>
				<a href="/manage_streams/stop"><button class="btn btn-primary" type="submit">Stop stream</button></a>
			<% } %>
		</span>
	</div>


</div>
</div>

<% include partials/footer %>
