<% include partials/head %>

<div class="col-md-6 profile">
  <div>
    <h2>Username: <b><%=user.username%></b></h2>
  </div>
  <form action="/user_list/<%=user.username%>/change_pass" method="POST"> 
    <div class="form-group">
      <label for="exampleInputPassword1">Enter the new password:</label>
      <input type="password" name="pass" class="form-control" id="exampleInputPassword1" placeholder="Enter the password">
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Confirm the entered password:</label>
      <input type="password" name="pass_confirm" class="form-control" id="exampleInputPassword2" placeholder="Confirm the password">
    </div>
    
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>


  <div class="alert alert-danger alert-dismissible fade" role="alert">
    <strong>Error</strong> Check the entered passwords
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="alert alert-success alert-dismissible fade" role="alert">
    <strong>Success</strong> Password changed successfully
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  
</div>



<% include partials/footer %>

