<% include partials/head %>


<div class="col-md-8 user_list">
	<div class="row">
		<div class="col-md-10">
			<h2 align="left">User list</h2>
		</div>
		<div class="col-md-2">
			<a class="btn btn-primary" href="/user_list/add" role="button">Add new user</a>
		</div>
	</div>
	<table class="table">
		<thead>
			<tr>
				<th scope="col-md-11">First</th>
				<th scope="col-md-1">Delete</th>
			</tr>
		</thead>

		<tbody>

			<% users.forEach(function(user) { %>
				<tr>
					<td class="col-md-11">
						<a href="/user_list/<%=user.username%>"><%=user.username%></a>
					</td>
					<td class="col-md-1">
						<a href="/user_list/<%=user.username%>/delete" class="btn btn-outline-danger">Delete user</a>
					</td>
				</tr>
			<% }); %>

		</tbody>
	</table>

	<div class="alert alert-success alert-dismissible fade" role="alert">
		<strong>Success</strong> User created successfully
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
	</div>

	<div class="alert alert-primary alert-dismissible user_deleted fade" role="alert">
		<strong>Success</strong> User deleted successfully
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
	</div>

</div> 

<% include partials/footer %>
