<% include partials/head %>

<div class="col-md-6 stream">
<div class="player">
<div class="jsmpeg" >
	<canvas id="jsmpeg"></canvas>
</div>
<div class="ctrl">
	<div class="player-left">

		<a class="player-button player-play hidden">
			<i class="fas fa-play"></i>
		</a>

		<a class="player-button player-pause">
			<i class="fas fa-pause"></i>
		</a>

	</div>

	<div class="player-right">
		<a class="player-button player-full">
			<i id="fullscreen" class="fas fa-arrows-alt"></i>
		</a>
	</div>
</div>
<!-- <a id="fullscreen" class="btn btn-default">Full screen</a> -->
</div>

<div class="alert alert-success alert-dismissible fade" role="alert">
	<strong>Success</strong> Logged in successfully
	<button type="button" class="close" data-dismiss="alert" aria-label="Close">
		<span aria-hidden="true">&times;</span>
	</button>
</div>
</div>


<% include partials/footer %>
