.navbar-dark {
	background-color: black;
}

.hidden {
	visibility: hidden;
}
.player {
	position: relative;
}
i {
	color: white;
}
.ctrl {
	display: block;
	position: absolute;
	width: 100%;
	height: 50px;
	opacity: 0.5;
	padding: 10px;
	bottom: 6px;
	background-color: black;
}

i {
	cursor: pointer;
}
.player-full {
	right: 0;
}

.player-full > i {
	transform: rotate(45deg);

}

.player-button {
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto;
	display: block;
	height: 50%;
	width: 25px;
}

.container-fluid {
	padding-top: 20px;
}
#map  {
	height: 90vh;
	width: 100%;
}

.users {
	max-height: 90vh;
	overflow: hidden;
}

.card:last-child {
	margin-bottom: 40px;
}

.card {
	margin-bottom: 20px;
}

.cards  {
	height: 100%;
	overflow: scroll;
	position: relative;
}
.navbar-dark a {
	color: white;
}

canvas {
	width: 100%;
	height: auto;
}
.jsmpeg {
	width: 100%;
}

.container-fluid .alert {
	position: fixed;
	bottom: 20px;
	right: 20px;
}

.jsmpeg:-webkit-full-screen	{ height: 100vh }
.jsmpeg:-moz-full-screen	{ height: 100vh }
.jsmpeg:-ms-full-screen		{ height: 100vh }
.jsmpeg:-o-full-screen		{ height: 100vh }
.jsmpeg:full-screen			{ height: 100vh }


.jsmpeg:-webkit-full-screen	canvas	{ height: 100%; width: auto!important; /*sorry 'bout that*/ }
.jsmpeg:-moz-full-screen	canvas	{ height: 100%; width: auto!important; /*sorry 'bout that*/ }
.jsmpeg:-ms-full-screen		canvas	{ height: 100%; width: auto!important; /*sorry 'bout that*/ }
.jsmpeg:-o-full-screen		canvas	{ height: 100%; width: auto!important; /*sorry 'bout that*/ }
.jsmpeg:full-screen			canvas	{ height: 100%; width: auto!important; /*sorry 'bout that*/ }


.logout-button {
	position: absolute;
	right: 20px;
}

.logout-button .nav-link {
	display: inline-block;
}